@import "variables";
.content-padding {
  padding: @content-padding;
}

.content-margin {
  margin: @content-padding;
}

.content-margin-tab {
  margin: @content-padding;
  margin-top: 0;
}

.content-tab-padding {
  padding: @content-padding;
  padding-top: 0px;
}

.content-margin-top {
  margin-top: @content-padding;
}

// @action-border-color: #dadada;
// @action-seperator-color: #ad9f9f;
// .action-drop-down{
//   border: 1px solid @action-border-color;
//   .actions-popup{
//     .ant-menu-item, .ant-dropdown-menu-item{
//       border-bottom: 1px solid @action-border-color;
//       margin-bottom: 0px;
//       margin-top: 0px;
//       padding-right:0px;
//       padding-left:0px;
//       &.last{
//         border-bottom:0px;
//       }
//       button{
//         background: transparent;
//       }
//     }
//   }
//     .ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
//       height: 2px;
//       margin: 0px;
//       overflow: hidden;
//       line-height: 0;
//       background-color: @action-seperator-color;
// }

// }

// .ant-modal-wrap, .ant-modal-mask {
//   z-index: 1040;
// }
// .ant-notification {
//   z-index: 1050;
// }
// .ant-message {
//   z-index: 1060;
// }

// .g2-html-annotation {
//   display: flex;
//   flex-direction: column;

//   p {
//     margin: 0;
//   }

//   p:first-child {
//     font-size: 1.6rem !important;
//     margin-bottom: 10px;
//   }

//   p:last-child {
//     font-size: 18px !important;
//     opacity: 0.7;
//     font-weight: 100;
//     transform: scale(1.05, 1);
//   }
// }

// .dashboard-cards-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
//   align-items: center;
//   margin: 10px;
// }

// .tox .tox-editor-header{
//   z-index: 0 !important;
// }

// .ant-notification-close-x {
//   font-size: 16px;
//   font-weight: bolder;

//   svg {
//     color: black;
//   }
// }

// .ant-notification-notice-message {
//   width: 90%;
//   height: fit-content;
//   max-height: 150px;
//   overflow-wrap: break-word;
//   overflow-y: auto;
// }

// .css-5t3dz7 {
//   z-index: 10;
// }
