/* .explorer-layout {
  display: grid;
  grid-template-columns: var(--navigation-inline-size) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  block-size: 100%;
}

.explorer-layout-menu {
  position: relative;
  box-shadow: 0 4px 8px rgba(40, 54, 68, 0.12);
}

.explorer-layout-menu-content {
  background-color: var(--white);
  position: fixed;
  top: var(--header-block-size);
  block-size: calc(100vh - var(--header-block-size));
  bottom: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  inline-size: var(--navigation-inline-size);
  border-block-end: 2px solid rgba(2, 19, 35, 0.04);
}

.explorer-layout-content {
  max-block-size: calc(
    100vh - var(--header-block-size) - var(--footer-block-size)
  );
} */

.account-layout {
  display: flex;
  flex-direction: row;
}

.explorer-layout-content {
  margin: 16px;
  min-height: 70vh;
}
