
.mission-head{
    margin-left: 0px;
margin-right: 0px;
font-weight: bold;
font-size:40px;
text-align: center;
color: #29486A;
background-color:#29486A;
background-size: auto;
opacity: 0.9;
color:whitesmoke;
margin-top: 50px;

}
.mission{
    line-height:30px;
    font-size:22px;
    text-align: center;
}
.section-1{
    margin-top: 80px;
    background-color: #aacdf2;
padding-top: 40px;
padding-bottom: 0px;
margin-bottom: 40px;

}
.sec-1-head{
font-size:30px;
text-align: center;
margin-left: 450px;
margin-right: 300px;
width:fit-content ;
}

.card{
    margin-left: 50px;
    width:18rem
}
.cards-inline{
    display:flex;
    margin-right: 50px;
    margin-left: 50px;
    margin-inline: 200px;

}
.text-area{
    display: block;
    text-align: left;
}
.img-place{
margin-left: 30px;
margin-right: auto;
}

.cards-place{
    display:flex; 

    
}
.headings{
    font-weight:bold;
    font-size: 18px;
    color: #29486A;
    width: fit-content;
}
.cards-in-place{
    margin-right:100px;
    margin-left: 100px;
    margin-top: 50px;
margin-bottom: 40px;

}
.section-2{
    display:flex; 
    margin-inline:20px ;
    margin-left: 200px;
    line-height:25px;
    font-size:20px;
}
.sec-2-heading{
    font-size:30px;
text-align: center;
margin-left: 360px;
margin-right: 250px;
margin-top: 100px;
width:fit-content ;
}
.section-2-image{
    background-repeat: no-repeat;
    background-position: right 0% top 80px;
    padding: 0px 80px 110px;
    background-size: 621px 443px;
}
.sec-3{
    margin-top: 20px;
    background-color: #aacdf2;
margin-bottom: 150px;
padding-top: 40px;
padding-bottom: 40px;
}

.sec-3-head{
margin-left: 350px;
margin-right: 350px;
margin-bottom: 6px;
font-size:30px;
text-align: center;
color: #29486A;
}

.about-text{
    margin-top: 100px;
}
.underline{
    margin-top: 0;
    width:60px;
    border: 2px solid #29486A;

}