
.content-header2{
    font-size: 16px;
}
.data{
    margin-top: 4px;
    font-size: 15px;
    display: block;
    text-align: justify;
    
}
.point .point-title{
    font-size: 16px;
    font-weight: 500;
}
.sub-point{
    list-style-type:disc;
    padding-left: 10px;
    font-size: 15px;
}
.more-details-link{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}


