.contact-page {
  display: flex;
  background-color: aliceblue;
}

.contact-us-container{
  width: 100%;
}
.top-head {
  margin-left: 80px;
  margin-top: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #29486a;
  /* text-decoration: underline; */
}
