.application-header {

  block-size: 80px;
  /* background-color: rgba(2, 19, 35, 0.85);; */
  display: flex;
  align-items: center;
}



.application-header .application-header-logo {
  block-size: calc(64px - 12px);
  position: relative;
}


.application-header  .ant-layout-header {
  background-color: white;
  padding: 0px 0px 0px 50px;
}