<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="apple-touch-icon" href="/logo192.png">
    <link rel="manifest" href="/manifest.json">
    <title>fixmytax Solution</title>
    <script defer="defer" src="/static/js/main.96b6c3d7.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/main.css" rel="stylesheet">
</head>

<body data-new-gr-c-s-check-loaded="14.1126.0" data-gr-ext-installed="">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <main class="application-layout">
            <div class="ant-row ant-row-center application-header">
                <div class="application-header-container">
                    <header class="ant-layout-header header-fixed">
                        <div class="ant-row">
                            <div class="application-logo"><img src="~/image/logo_header.png" alt="text" height="80" width="160" style="object-fit: cover;"></div>
                            <div class="appplicaton-menu-content">
                                
                                <div aria-hidden="true" style="display: none;"></div>
                            </div>
                            <div class="ant-col ant-col-xs-2 ant-col-sm-2 ant-col-md-2 ant-col-lg-2 ant-col-xl-2">
                                <div class="ant-dropdown-trigger application-user-menu-trigger">shamsher</div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <section class="application-layout-content">
                <section id="service-banner-itr-notice" class="section-banner">
                    <div class="container" data-aos="fade-up">
                        <div class="row justify-content-center">
                            <div class="section-banner-info">
                                <div class="section-banner-title">Checkout</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="ant-card ant-card-bordered content-max-margin">
                        <div class="ant-card-body">
                            <div class="section-header">
                                <h2 style="color: rgb(244, 124, 1); font-weight: 500;">Checkout</h2>
                            </div>
                            <div class="ant-row" style="margin-left: -10px; margin-right: -10px;">
                                <div class="ant-col ant-col-xs-24 ant-col-xl-16" style="padding-left: 10px; padding-right: 10px;">

                                    <button type="button" class="button-control"><span>Go to List Page</span></button>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <footer class="footer">
                <div class="footer-content">
                    <div class="container">
                        <div class="row gy-4">
                            <div class="col-lg-4 col-md-12 footer-info">
                                <div style="display: flex;"><img src="~/image/footer_logo2.png" alt="text" height="100" width="400"></div>
                                <p>We are here to solve all your tax related queries so that you may enjoy peace of mind.</p>
                                <br>
                                <p>Developed by XoQoVo Pvt. Ltd.</p>
                                <div class="social-links d-flex  mt-3"><a href="#" class="twitter"><i class="bi bi-twitter"></i></a><a href="#" class="facebook"><i class="bi bi-facebook"></i></a><a href="#" class="instagram"><i class="bi bi-instagram"></i></a><a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></div>
                            </div>
                            <div class="col-lg-2 col-6 footer-links">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><a href="https://www.incometax.gov.in/" target="_blank">Income Tax</a></li>
                                    <li><a href="https://www.gst.gov.in/" target="_blank">Goods and Services Tax</a></li>
                                    <li><a href="https://finmin.nic.in/" target="_blank">Ministry of Finance</a></li>
                                    <li><a href="https://www.mca.gov.in/ " target="_blank">Ministry of Corporate Affairs</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-6 footer-links">
                                <h4>Information</h4>
                                <ul>
                                    <li><a class="" href="/about">About Us</a></li>
                                    <li><a class="" href="/service/itr-notice">Service</a></li>
                                    <li><a>Terms &amp; Condition</a></li>
                                    <li><a class="" href="/privacypolicy">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-6 footer-contact  text-md-start">
                                <h4>Registered Office</h4>
                                <p>Karsathi Consultants Private Limited,<br> Mukut Tower, 402, <br>Vikas Nagar, Sector - 2<br>Lucknow, UP - 226022<br></p>
                            </div>
                            <div class="col-lg-2 col-6 footer-contact  text-md-start">
                                <h4>Corporate Office</h4>
                                <p>Sangam Place, U 20 &amp; 26, <br>Civil Lines, Prayagraj,<br>U.P. - 211001<br><strong>Available</strong> Monday to Friday: 10:00 am to 6:00 pm<br><strong>Phone</strong> +91 6387022844<br><strong>Email:</strong>contact@fixmytax.in<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </div>
    <style data-rc-order="append" rc-util-key="antd-wave"></style>

</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>