.gst-banner{
    background-color: #2a4671;
}
.gst-banner-title{
padding-top: 60px;
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.gst-banner-data{
    font-size: 14px;
    color: white;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 60px;
    
}
.gst-site-card-wrapper{
    padding: 30px;
    background-color: #ececec;
}
.gst-notice-card {
    height: 100%;
    border-radius: 35px;
    /* display: flex; */

    box-shadow: 0 5px 17px 0 rgb(0 0 0 / 17%);
}
.cards-flex{
    display: flex;
    text-align: left;
}
@media screen and (max-width:850px){
    .cards-flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.gst-reason{
    margin-top: 80px;
margin-bottom: 80px;
}
.reason-head{
    font-size:  30px;
}
.reason-list{
margin-left: 10%;
margin-right: 10%;
}
.gst-section-header{
    text-align: center;
}
.section-gst-card .card-container {
    padding: 20px 20px;
    margin: 50px;
}
.section-gst-card  .card-container  .Card-header-title{
      text-align: center;
    padding-bottom: 30px;
    }s
    .section-gst-card  .card-container    .ant-form-item-label > label{
      font-size: 18px;
    }